* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  line-height: 1.8rem;
  font-weight: 400;
}
.header {
  background-image: url(./img/bg.jpg);
  background-size: contain;
  background-position: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clarus {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: white;
}
.cla {
  background-color: black;
  padding: 2rem;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  outline: 0.5rem inset purple;
  outline-offset: 1rem;
  text-transform: uppercase;
  line-height: 5rem;
}
.textwhite {
  background-color: rgb(241, 241, 241);
  color: #666;
  text-align: center;
  padding: 3rem 5rem;
}
.textwhite h2 {
  display: block;
  font-size: 1.5em;
  font-weight: 700;
}
.textwhite p {
  font-weight: 400;
  margin-top: 1em;
}
.womanpic {
  background-image: url(./img/bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 10vh;
}
.logo img {
  height: 100%;
}
.textblack {
  background-color: #282e34;
  color: #ddd;
  padding: 3rem 5rem;
  text-align: center;
}
.textblack h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.textblack p {
  margin-top: 1em;
  font-weight: 400;
}
.tablepeople {
  background-image: url(./img/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wayto {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: white;
}
.way {
  background-color: black;
  padding: 0.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  outline: 0.4rem inset purple;
  outline-offset: 0.2rem;
  text-transform: capitalize;
  line-height: 5rem;
}
.glassesman {
  background-image: url(./img/bg4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: white;
}
.cteam {
  background-color: black;
  padding: 0.7rem;
  border-top-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  outline: 0.4rem inset purple;
  outline-offset: 0.2rem;
  text-transform: capitalize;
  line-height: 5rem;
}
.choose {
  background-image: url(./img/bg.jpg);
  background-image: url(./img/bg.jpg);
  background-size: contain;
  background-position: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
